/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

/*Project*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(179, 20, 179);
    margin: 10px;
}

.main-container{
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    width: 420px;
    max-height: 480px;
    padding: 1.766rem;
}

.login-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.6rem;
}

.pageModeIcon img{
    cursor: pointer;
}

.dark{
    width: 32px;
}

.light{
    width: 32px;
    display: none;
}

.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.6rem;
}

.social-media img{
    margin-left: 1rem;
}

.formDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name-input{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.name-input input{
    width: 100%;
    border: none;
    outline: none;
}

.name{
    margin-bottom: 1.3rem;
}

.name h3{
    font-size: 1rem;
}

.email-input{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.email{
    margin-bottom: 1.3rem;
}

.email-input img{
    width: 23px;
}

.email-input input{
    width: 100%;
    border: none;
    outline: none;
}

.email h3{
    font-size: 1rem;
}

.password-input{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.password-input img{
    width: 23px;
}

.password-input input{
    width: 100%;
    border: none;
    outline: none;
}

.password h3{
    font-size: 1rem;
}

.forgot-password{
    font-size: .88rem;
    margin-top: .442rem;    
    margin-bottom: .442rem;
    text-decoration: underline;    
}

.forgot-password a{
    text-decoration: none;
}

.login-btn{
    margin-top: .442rem;
}

.login-btn button{
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    color: white;
    background-color: rgb(179, 10, 179);
}

.login-btn button:hover{
    background-color: purple;
    cursor: pointer;
    transition: all .5s;
}